.blue-shade {
  background-color: #a6d5fc !important;
}

.red-shade {
  background-color: #ffd1d1 !important;
}

.grid-controls {
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.grid-control-button {
  margin: 4px;
  padding: 6px;
  font-size: 14px;
}

.page-title {
  margin-top: 8px;
  margin-left: 48px;
  margin-right: 8px;
}

.page-input {
  margin-top: 4px;
  margin-right: 48px;
  width: 36px;
  height: 26px;
  font-size: 14px;
}